.note-editor-header {
  width: 100%;
  position: fixed;
}

.note-editor-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #0a1930;
  padding: 15px 25px 0 25px;
}

.header-button-container {
  border: none;
  background: transparent;
}

.header-button-container:hover {
  color: #d68c45;
}

.header-button-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ccd6f6;
}

.header-button-text:hover {
  color: #d68c45;
}

.header-button-right-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header-button-logo {
  height: 24px;
  width: 24px;
  color: #ccd6f6;

  display: flex;
  flex-direction: row;
}
.header-button-logo:hover {
  color: #d68c45;
}

.header-button-back-logo {
  color: #ccd6f6;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.header-button-back-logo:hover {
  color: #d68c45;
}

.header-button-back-logo .left-button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  margin-top: 4px;
}

.header-button-back-logo .right-button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.note-editor-body {
  margin: 0 30px;
  padding: 85px 25px 0 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note-editor-details-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: rgba(204, 214, 246, 0.3);
}

.note-editor-title-font-settings {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.note-editor-title-font-settings::placeholder {
  color: rgba(204, 214, 246, 0.5);
}

.note-editor-title-font-settings:focus {
  outline: none;
  color: #ccd6f6;
}

.note-editor-title-font-settings:not(:focus) {
  outline: none;
  color: #ccd6f6;
}

.note-editor-content-font-settings {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}

.note-editor-content-font-settings::placeholder {
  color: rgba(204, 214, 246, 0.5);
}

.note-editor-content-font-settings:focus {
  outline: none;
  color: #ccd6f6;
}

.note-editor-content-font-settings:not(:focus) {
  outline: none;
  color: #ccd6f6;
}

.note-editor-text-area {
  background: none;
  border: none;

  height: auto;
  overflow-y: hidden;
}
