.add-note-header {
  width: 100%;
  position: fixed;
}

.add-note-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #0a1930;
  padding: 20px 25px 20px 25px;
}

.header-button-container {
  border: none;
  background: transparent;
}

.header-button-logo {
  height: 20px;
  width: 20px;
  color: #ccd6f6;
}

.add-note-body {
  padding: 60px 25px 0 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-note-details-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: rgba(204, 214, 246, 0.3);
}

.add-note-title-font-settings {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.add-note-title-font-settings::placeholder {
  color: rgba(204, 214, 246, 0.5);
}

.add-note-title-font-settings:focus {
  outline: none;
  color: #ccd6f6;
}

.add-note-title-font-settings:not(:focus) {
  outline: none;
  color: #ccd6f6;
}

.add-note-content-font-settings {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.add-note-content-font-settings::placeholder {
  color: rgba(204, 214, 246, 0.5);
}

.add-note-content-font-settings:focus {
  outline: none;
  color: #ccd6f6;
}

.add-note-content-font-settings:not(:focus) {
  outline: none;
  color: #ccd6f6;
}

.add-note-text-field {
  background: none;
  border: none;
}
