.add-note-main-container {
  padding: 25px;
  display: flex;
}

.back-button-container {
  border: none;
  background: transparent;
}

.back-button-logo {
  height: 25px;
  width: 25px;
  color: #ccd6f6;
}
